* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

.section {
    float: left;
    width: 33.33%; /* per desktop */
    padding: 20px;
    border: 1px solid black;
}

.title {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ffcc00; /* Cambia il colore a tuo piacimento */
    padding: 5px;
}

@media (max-width: 991px) {
    .section {
        width: 100%; /* Per mobile */
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .section {
        width: 50%; /* Per tablet */
    }
    #sushi {
        clear: both; /* Assicura che la sezione sushi vada a capo */
    }
}
